<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <a class="navbar-brand mg-titulo" href="#">Vegan Sweet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" *ngIf="!authService.loggedIn(); else loggedIn">
        <a class="nav-link" href="/signin">Iniciar Sesion</a>
        <a class="nav-link" href="/signup">Registrarse</a>
      </div>
      <ng-template #loggedIn>
        <div class="navbar-nav ml-auto">
          <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Cerrar Sesión</a>
          <a class="nav-link" href="/productsmenu">Products</a>
          <a class="nav-link" href="/home">Home</a>
        </div>
      </ng-template>
    </div>
    </div>
</nav>