* {
    font-family:serif 
  }

  .bg-inicio {
    height: 80vh;
   
 }

 .bn-fondo{
  background-image: url(../../../assets/img/corazones.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  padding: 2.5%;

}